{
  "ignorePatterns": ["test/fixtures/**", "dist/**", "rollup.config.js"],
  "plugins": ["prettier-doc"],
  "extends": ["eslint:recommended", "plugin:ava/recommended", "plugin:prettier-doc/recommended", "plugin:node/recommended"],
  "rules": {
    "curly": ["error", "multi-line"],
    "node/no-unsupported-features/es-builtins": [
      "error",
      {
        "version": "^12.20.0 || ^14.13.1 || >=16.0.0",
        "ignores": []
      }
    ],
    "node/no-unsupported-features/node-builtins": [
      "error",
      {
        "version": "^12.20.0 || ^14.13.1 || >=16.0.0",
        "ignores": []
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
