{hello ?? <div></div><div></div>}

{hello ? <div></div><div></div> : <span></span><span></span>}

{[].map((value) => <div>{value}</div><h1>{value}</h1>)}

{[].map((value) => {
	console.log(value);

	return <div></div><h1></h1>
})}
