---
let hello = "hello";
let space = " ";
let helloWorld = `${hello + space}world`;
import Markdown from "astro/components";
---

<div>{`${helloWorld + space}too many template strings`}</div>
<Markdown>
`hello i am a codespan`

```js
let story = "hello i am a codefence";

story.length;
```
</Markdown>
