---
let hello = "hello";
let space = " ";
let helloWorld = `${hello + space}world`;
import MarkdownComponent from "astro/components/Markdown.astro";
---
<div>{`${helloWorld + space}too many template strings`}</div>
<MarkdownComponent>
  `hello i am a codespan`

  ```js
  let story = "hello i am a codefence";

  story.length;
  ```
</MarkdownComponent>
