<button
  className="prettier-class"
  id="prettier-id"
  data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non aperiam amet nesciunt dolorem."
  onClick={handleClick}>
  Click Here
</button>

<img
  src="localhost"
  className="prettier-class"
  id="prettier-id"
  data-info="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non aperiam amet nesciunt dolorem."
  onClick={handleClick}
/>
