{
	Promise.all([
	[].map((something) => {
		return [
			<div></div>,
			<div></div>,
			<div></div>,
			<div></div>
		]
	}),
	[].map((something) => {
		return <div></div><div></div><div></div><div></div>
	}),
	[].map((something) => {
		return <div></div><div></div><div></div><div></div> + <div></div><div></div><div></div><div></div>
	}),
	[].map((something) => {
		return <div></div><div></div><div></div><div></div> + {something: <div></div><div></div><div></div><div></div>}
	}),

	<div></div><div></div><div></div><div></div>
	])
}

{
	<div></div><div></div><div></div>
}
