---
import Footer from "./Footer.astro";
import  {Body}  from "lib";
---

  <div>
  <Footer>this is a footer component</Footer>
  <footer>this is a regular footer element</footer>
  <Body></Body>
  </div>