---
    const myArr = [
          1,
        "lorem",
        false,
    "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non aperiam amet nesciunt dolorem. Voluptatum delectus autem sapiente voluptatem? In, quam?",   {  
          prop4: false  }
    ]
---
<h1>
    {myArr[0]}
</h1>