---
import Link from "@/components/link.astro";
---

<ul>
  <li>
    <a href="https://github.com/withastro/prettier-plugin-astro">
      Prettier Plugin for Astro (using HTML element)
    </a>
  </li>
  <li>
    <Link href="https://github.com/withastro/prettier-plugin-astro">
      Prettier Plugin for Astro (using component)
    </Link>
  </li>
</ul>
